<div>
    <h2>Nuestra Misión y Visión</h2>
    <p>En Style Trend, nos apasiona la moda y la expresión personal a través del estilo. Desde nuestra fundación, nos hemos comprometido a ofrecer una experiencia de compra excepcional y una selección cuidadosamente curada de prendas de vestir y accesorios que reflejan las últimas tendencias y el espíritu de la moda contemporánea.</p>
</div>

<div class="mission-vision">

    <section class="mission">
        <h3>Nuestra Misión</h3>
        <p>Nuestra misión es proporcionar a nuestros clientes una experiencia de compra única y satisfactoria, donde puedan descubrir y explorar las últimas tendencias de la moda. Nos esforzamos por ser una fuente confiable de inspiración y estilo, ofreciendo productos de alta calidad y un servicio al cliente excepcional.</p>
    </section>
    
    <section class="vision">
        <h3>Nuestra Visión</h3>
        <p>En Style Trend, aspiramos a ser líderes en la industria de la moda online, siendo reconocidos por nuestra innovación, integridad y compromiso con la excelencia. Buscamos ser un destino de referencia para los amantes de la moda, donde puedan encontrar todo lo que necesitan para expresar su estilo único y personalidad.</p>
    </section>

</div>

<section class="values">
    <h2>Nuestros Valores</h2>
    <ul>
      <li><strong>Pasión por la Moda:</strong> Nos apasiona la moda y nos esforzamos por compartir esa pasión con nuestros clientes a través de nuestra selección de productos y servicios.</li>
      <li><strong>Integridad:</strong> Operamos con honestidad, transparencia y ética en todo lo que hacemos, manteniendo la confianza y el respeto de nuestros clientes y socios.</li>
      <li><strong>Innovación:</strong> Buscamos constantemente nuevas formas de mejorar y evolucionar, manteniéndonos a la vanguardia de las últimas tendencias y tecnologías en la industria de la moda online.</li>
      <li><strong>Excelencia en el Servicio al Cliente:</strong> Nos comprometemos a brindar un servicio al cliente excepcional, respondiendo a las necesidades y expectativas de nuestros clientes de manera rápida y eficiente.</li>
    </ul>
</section>