<!-- <h1>Bienvenido a la Tienda</h1> -->
<!-- 
<p *ngIf="autenticacionService.isLoggedIn()">Usuario logueado: {{ autenticacionService.getRole() }}</p>
<button (click)="logout()" *ngIf="autenticacionService.isLoggedIn()">Logout</button>

<a routerLink="/add-product" *ngIf="autenticacionService.getRole() === 'admin'">Agregar Producto</a> -->

<!-- <p *ngIf="!autenticacionService.isLoggedIn()"> -->
  <!-- <a [routerLink]="['login']">Sign in</a>
  <a [routerLink]="['login']">Sign up</a> -->
<!-- </p> -->

<div id="baner-principal">
  <h1>Shop</h1>
</div>

<div class="contenedor-productos">
  <div *ngFor="let producto of listaDeProductos; trackBy: trackById" class="producto-item">
    <app-producto [producto]="producto"></app-producto>
  </div>

  <div *ngIf="listaDeProductos.length === 0">
    <p>No existen productos</p>
  </div>
</div>
