.contenedor-productos{
    display: flex; 
    flex-direction: row; 
    gap: 1rem; 
    flex-wrap: wrap; 
    div{
        flex-basis: 25%;
        flex-grow: 1;
        flex-shrink: 1; 
    }
}
.btn{
    position: absolute;
    transform: translate(-50% -50%);
    // top:20%;
}